{{#model}}
<div>
  {{#image}}<img src="{{.}}" width="100" height="100" class="info-image">{{/image}}
  <div class="info-block">
    <h2>{{name}} <span class="field-id">#{{blog_id}}
      {{#private}}<span class="user-attr private-attr"><i class="icon-lock"></i> private</span>{{/terms}}
    </span></h2>
    {{#description}}<div>{{.}}</div>{{/description}}
    {{#url}}<a target="_partner" class="user-attr user-link" href="{{.}}"><i class="icon-external-link"></i> {{.}}</a>{{/url}}
    {{#location}}<span class="user-attr"><i class="icon-map-marker"></i> {{.}}</span>{{/location}}
    {{#terms}}<span class="user-attr"><i class="icon-search"></i> {{.}}</span>{{/terms}}
  </div>
</div>
{{/model}}
{{^model}}
<div>
  <div class="info-image" style="background:#ddd url(/a/i/loading.gif) no-repeat 50% 50%; width: 100px; height: 100px;"></div>
</div>
{{/model}}
